body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
header {
  background: #ff6f00;
  color: white;
  padding: 15px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  height: 300px;
}

button {
  background: #ff6f00;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #e65c00;
}
